IS_POLLING= 

# Telegram
BOT_TOKEN= 
ADMIN_ID= 
LOG_CHANNEL_ID= 
LOG_LEVEL= 
START_PARAM= 
LINK_PREVIEW= 

WEBHOOK_BASE_URL= 
WEBHOOK_PATH= 
WEBHOOK_HOST= 
WEBHOOK_PORT= 

DATABASE_URL= 

CRYPTO_BOT_TOKEN= 